<h1>Welcome#index</h1>

<table class="listing" summary="Page list">
  <tr class="header">
    <th>Imie</th>
    <th>Nazwisko</th>
    <!--<th>Page</th>-->
    <!--<th>Visible</th>-->
    <!--<th>Permlink</th>-->
    <!--<th>Sections</th>-->
    <!--<th>Actions</th>-->
  </tr>

  <% @doctors.each do |doctor| %>

  <tr>
    <td><%= doctor.first_name %></td>
    <td><%= doctor.last_name %></td>
    <!--<td><%=  %></td>-->
    <!--<td></td>-->
  </tr>
  <% end %>
</table>