<table>
  <tr>
    <td><%= @doctor.name%></td>
  </tr>
  <tr>
    <td><%= @doctor.email %></td>
  </tr>
  <tr>
    <td><%= @doctor.phone %></td>
  </tr>
  <tr>
    <td><%= @doctor.description %></td>
  </tr>
</table>